* {
    box-sizing: border-box;
}

html {
    line-height: 1.25rem;
    font-family: mont; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0 0 1em;
}

.hidden{
    display: none;
}

img {
    margin: 10px;
    border-radius: 10px;
    width: 100%;
}

img.increase,
img.decrease,
img.add,
img.change {
    width: 10px;
    height: 10px;
}


