*, *::before, *::after {
    box-sizing: border-box;
}


html {
    line-height: 1.25rem;
    font-family: mont;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0 0 1em;
    text-wrap: balance;
}


.hidden {
    display: none;
}

img {
    margin: 10px;
    border-radius: 10px;
    width: 100%;
}

img.increase,
img.decrease,
img.add,
img.change,
img.trash,
img.left,
img.right,
img.middle {
    width: 20px;
    height: 20px;
}


