.canvas-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-items: start;


    width: 100%;
    padding: 20px;
    margin: auto;
    border-color:white ;
    
    
    justify-content: center;
 }   


canvas {
    background-color: white;
    border: 1px solid white;
}



.controllers{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.line{
    margin-left: 135px;
    margin-right: 135px;
    border-radius:30px;
    text-align: center;
    
   width: 375px;
   height: 50px;
   
}

