.main-footer{
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 background-color: orange;

}

.footer-logo {
    color: white;
    font-size: x-large;
    font-weight: 1000;
}
