@media (max-width: 1199px) {
    .main-layout {
        grid-template-columns: 20px 1fr 20px 1fr 20;
    }

    .main-layout > *:nth-child(4n + 1),
    .main-layout > *:nth-child(4n + 2) {
        grid-column: span 2; 
    }
    .main-layout > *:nth-child(4n + 3),
    .main-layout > *:nth-child(4n + 4) {
        grid-column: span 2; 
    }
    .main-layout > * {
        grid-column: span 1; 
    }
    
    .canvas-container {
        width: 90%; 
        padding: 5px; 
    }

    .main-footer {
        padding: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: orange;
    
    }
}

@media (max-width: 767px) {
    .main-layout {
        grid-template-columns: 1fr; 
    }
    .canvas-container {
        width:100%; 
        padding: 10px; 
    }

    canvas {
        width: auto; 
        height: auto; 
    }
    .canvas-container {
        display: flex;
        align-items: flex-start;
        position: relative;
        align-items: center;
        flex-direction: column;
        width: 100%;
        border-color:white ;
     }
}

