

@media (max-width: 1199px) {
    .main-layout {
        grid-template-columns: 20px 1fr 20px 1fr;
    }

    .main-layout > *:nth-child(4n + 1),
    .main-layout > *:nth-child(4n + 2) {
        grid-column: span 2; 
    }
    .main-layout > *:nth-child(4n + 3),
    .main-layout > *:nth-child(4n + 4) {
        grid-column: span 2; 
    }
}


@media (max-width: 767px) {
    .main-layout {
        grid-template-columns: 1fr; 
    }

    .main-layout > * {
        grid-column: span 1; 
    }
}

